<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#bs-navbar-collapse-1"
      aria-expanded="false">
      <span class="sr-only">Toggle navigation</span> <span
      class="icon-bar"></span> <span class="icon-bar"></span> <span
      class="icon-bar"></span>
    </button>
    <div class="navbar-brand">
      <!-- TODO -->
      {{ navbar.app }}
      <!-- Building Configurator -->
      <!-- Title -->
      <small>Version {{ navbar.appVersion }}</small>
    </div>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse"
  id="bs-navbar-collapse-1">
  <ul class="nav navbar-nav">

    <li>
      <a href ng-click="navbar.onChangelog()" style='margin-top: 7px;'>
        <i class="glyphicon glyphicon-list"></i>
        ChangeLog
      </a>
    </li>
    <li>
      <a href id="feedbackEntryPoint" style='margin-top: 7px;'>
        <i class="glyphicon glyphicon-comment"></i>
        Feedback
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <p class="navbar-text">
        <span class="glyphicon glyphicon-user"></span> {{ navbar.signedInUser }}
        <button class="btn btn-danger" ng-click="navbar.onLogout()" style='margin-top: 7px;' ng-show="navbar.login">
          <i class="glyphicon glyphicon-sign-out"></i>
          LogOut
        </button>
      </p>
    <!-- </li> -->
    <!-- <li> -->

    </li>
  </ul>
</div>
<!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>
