<ol class="breadcrumb">
  <li class="breadcrumb-item" ui-sref="home">Home</li>
  <li class="breadcrumb-item" ui-sref="detail({subnet: '{{chart.subnet}}'})" ng-if="chart.subnode">Detail - {{chart.subnet}}</li>
  <li class="breadcrumb-item active" ng-if="!chart.subnode">Chart - {{chart.subnet}} - {{chart.energyType}}</li>
  <li class="breadcrumb-item active" ng-if="chart.subnode">Chart - {{chart.subnet}} - {{chart.subnode}} - {{chart.energyType}}</li>
</ol>

<!-- {{chart.title}} -->
<div id="chart">
  <highchart id="chart1" config="chart.chartConfig" class="span10"></highchart>
</div>
