<ol class="breadcrumb">
  <li class="breadcrumb-item active">Home</li>
</ol>
<div class="container-fluid">
  <div class="row h-100 border border-dark bg-dark text-white">
    <div class="col-2 my-auto">
      <small>Typ / Baufeld</small>
      <button type="button" name="button" class="btn btn-primary btn-sm" ng-click="home.resetFilter()">Reset Filter</button>
    </div>
    <div class="col-10">
      <div class="row">
        <div ng-repeat="(key, value) in home.data" class="col text-center my-auto" ng-if="key != 'total'">
          <div class="border border-dark"><h2 ui-sref="detail({subnet: '{{key}}'})">{{key}}</h2>
            <div class="">
            </div>
            <div class="d-none d-lg-block">
              <div class="btn-group">
                <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelSubnet[key]" uib-btn-radio="value.meta_data.floor" uncheckable><span class="fa fa-th-large fa"></span> <small>{{value.meta_data.floor | number}} m²</small></label>
                <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelSubnet[key]" uib-btn-radio="value.meta_data.occupants" uncheckable><span class="fa fa-user"></span> <small>{{value.meta_data.occupants | number}} </small></label>
                <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelSubnet[key]" uib-btn-radio="value.meta_data.apartments" uncheckable><span class="fa fa-home"></span> <small>{{value.meta_data.apartments | number}} </small></label>
              </div>
            </div>

            <div class="btn-group-vertical d-block d-lg-none">
              <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelSubnet[key]" uib-btn-radio="value.meta_data.floor" uncheckable><span class="fa fa-th-large fa"></span> <small>{{value.meta_data.floor | number}} m²</small></label>
              <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelSubnet[key]" uib-btn-radio="value.meta_data.occupants" uncheckable><span class="fa fa-user"></span> <small>{{value.meta_data.occupants | number}} </small></label>
              <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelSubnet[key]" uib-btn-radio="value.meta_data.apartments" uncheckable><span class="fa fa-home"></span> <small>{{value.meta_data.apartments | number}} </small></label>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row h-100 border border-dark bg-warning text-white">
    <div class="col-2 h-100">
      <div class="row h-100">
        <div class="col-3 my-auto">
          <span class="fa fa-bolt fa-2x" style="color:white;"></span>
        </div>
        <div class="col-4 my-auto mx-auto">
          <span class="align-middle"></span>Elektr. Energie
        </div>
        <div class="col-md-5 my-auto mx-auto">
          <div class="btn-group-vertical d-none d-lg-block">
            <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['power']" uib-btn-radio="'floor'" uncheckable><span class="fa fa-th-large fa d-xs-none "></span> {{value.floor | number}}</label>
            <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['power']" uib-btn-radio="'occupants'" uncheckable><span class="fa fa-user d-xs-none"></span> {{value.occupants | number}}</label>
            <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['power']" uib-btn-radio="'apartments'" uncheckable><span class="fa fa-home d-xs-none"></span> {{value.apartments | number}}</label>
         </div>
         <div class="d-block d-lg-none">
           <div class="btn-group">
             <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['power']" uib-btn-radio="'floor'" uncheckable><span class="fa fa-th-large fa d-xs-none "></span> {{value.floor | number}}</label>
             <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['power']" uib-btn-radio="'occupants'" uncheckable><span class="fa fa-user d-xs-none"></span> {{value.occupants | number}}</label>
             <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['power']" uib-btn-radio="'apartments'" uncheckable><span class="fa fa-home d-xs-none"></span> {{value.apartments | number}}</label>
          </div>
         </div>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="row h-100">
        <div ng-repeat="(key, value) in home.data" class="col text-center my-auto"  ng-if="key != 'total'">
          <div class="row">
            <div class="col-md-8">
              <div ui-sref="detail({subnet: '{{key}}'})"><h4>{{value.values.power}} kw/h</h4></div>
            </div>
            <div class="col-md-2">
              <button type="button" name="button" class="btn btn-primary btn-sm" ui-sref="chart({subnet: '{{key}}', energyType: 'power', detail: false})"><span class="fa fa-line-chart"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row border border-dark bg-danger text-white">
    <div class="col-2">
      <div class="row">
        <div class="col-3 my-auto">
          <span class="fa fa-fire fa-2x" style="color:white;"></span>
        </div>
        <div class="col-4 my-auto">
          <span class="align-middle"></span>Heiz Energie
        </div>
        <div class="col-md-5 my-auto mx-auto">
          <div class="btn-group-vertical d-none d-lg-block">
            <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['heating']" uib-btn-radio="'floor'" uncheckable><span class="fa fa-th-large fa d-xs-none "></span> {{value.floor | number}}</label>
            <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['heating']" uib-btn-radio="'occupants'" uncheckable><span class="fa fa-user d-xs-none"></span> {{value.occupants | number}}</label>
            <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['heating']" uib-btn-radio="'apartments'" uncheckable><span class="fa fa-home d-xs-none"></span> {{value.apartments | number}}</label>
         </div>
         <div class="d-block d-lg-none">
           <div class="btn-group">
             <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['heating']" uib-btn-radio="'floor'" uncheckable><span class="fa fa-th-large fa d-xs-none "></span> {{value.floor | number}}</label>
             <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['heating']" uib-btn-radio="'occupants'" uncheckable><span class="fa fa-user d-xs-none"></span> {{value.occupants | number}}</label>
             <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['heating']" uib-btn-radio="'apartments'" uncheckable><span class="fa fa-home d-xs-none"></span> {{value.apartments | number}}</label>
          </div>
         </div>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="row h-100">
        <div ng-repeat="(key, value) in home.data" class="col text-center my-auto" ng-if="key != 'total'">
          <div class="row">
            <div class="col-md-8">
              <div ui-sref="detail({subnet: '{{key}}'})"><h4>{{value.values.heating}} kw/h</h4></div>
            </div>
            <div class="col-md-2">
              <button type="button" name="button" class="btn btn-primary btn-sm" ui-sref="chart({subnet: '{{key}}', energyType: 'heating', detail: false})"><span class="fa fa-line-chart"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row border border-dark bg-danger text-white">
    <div class="col-2">
      <div class="row">
        <div class="col-3 my-auto">
          <span class="fa fa-tint fa-2x" style="color:white;"></span>
        </div>
        <div class="col-4 my-auto">
          Warm Wasser
        </div>
        <div class="col-md-5 my-auto mx-auto">
          <div class="btn-group-vertical d-none d-lg-block">
            <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['hotWater']" uib-btn-radio="'floor'" uncheckable><span class="fa fa-th-large fa d-xs-none "></span> {{value.floor | number}}</label>
            <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['hotWater']" uib-btn-radio="'occupants'" uncheckable><span class="fa fa-user d-xs-none"></span> {{value.occupants | number}}</label>
            <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['hotWater']" uib-btn-radio="'apartments'" uncheckable><span class="fa fa-home d-xs-none"></span> {{value.apartments | number}}</label>
         </div>
         <div class=" d-block d-lg-none">
           <div class="btn-group">
             <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['hotWater']" uib-btn-radio="'floor'" uncheckable><span class="fa fa-th-large fa d-xs-none "></span> {{value.floor | number}}</label>
             <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['hotWater']" uib-btn-radio="'occupants'" uncheckable><span class="fa fa-user d-xs-none"></span> {{value.occupants | number}}</label>
             <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['hotWater']" uib-btn-radio="'apartments'" uncheckable><span class="fa fa-home d-xs-none"></span> {{value.apartments | number}}</label>
          </div>
         </div>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="row h-100">
        <div ng-repeat="(key, value) in home.data" class="col text-center my-auto" ng-if="key != 'total'">
          <div class="row">
            <div class="col-md-8">
              <div ui-sref="detail({subnet: '{{key}}'})"><h4>{{value.values.hotWater}} m³</h4></div>
            </div>
            <div class="col-md-2">
              <button type="button" name="button" class="btn btn-primary btn-sm" ui-sref="chart({subnet: '{{key}}', energyType: 'hotWater', detail: false})"><span class="fa fa-line-chart"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row border border-dark bg-info text-white">
    <div class="col-2">
      <div class="row">
        <div class="col-3 my-auto">
          <span class="fa fa-tint fa-2x" style="color:white;"></span>
        </div>
        <div class="col-4 my-auto">
          Kalt Wasser
        </div>
        <div class="col-md-5 my-auto mx-auto">
          <div class="btn-group-vertical d-none d-lg-block">
            <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['coldWater']" uib-btn-radio="'floor'" uncheckable><span class="fa fa-th-large fa d-xs-none "></span> {{value.floor | number}}</label>
            <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['coldWater']" uib-btn-radio="'occupants'" uncheckable><span class="fa fa-user d-xs-none"></span> {{value.occupants | number}}</label>
            <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['coldWater']" uib-btn-radio="'apartments'" uncheckable><span class="fa fa-home d-xs-none"></span> {{value.apartments | number}}</label>
         </div>
         <div class="d-block d-lg-none">
           <div class="btn-group">
             <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['coldWater']" uib-btn-radio="'floor'" uncheckable><span class="fa fa-th-large fa d-xs-none "></span> {{value.floor | number}}</label>
             <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['coldWater']" uib-btn-radio="'occupants'" uncheckable><span class="fa fa-user d-xs-none"></span> {{value.occupants | number}}</label>
             <label class="btn btn-secondary border border-dark btn-sm" ng-model="home.radioModelEnergy['coldWater']" uib-btn-radio="'apartments'" uncheckable><span class="fa fa-home d-xs-none"></span> {{value.apartments | number}}</label>
          </div>
         </div>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="row h-100">
        <div ng-repeat="(key, value) in home.data" class="col text-center my-auto" ng-if="key != 'total'">
          <div class="row">
            <div class="col-md-8">
              <div ui-sref="detail({subnet: '{{key}}'})"><h4>{{value.values.coldWater}} m³</h4></div>
            </div>
            <div class="col-md-2">
              <button type="button" name="button" class="btn btn-primary btn-sm" ui-sref="chart({subnet: '{{key}}', energyType: 'coldWater', detail: false})"><span class="fa fa-line-chart"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
