<ol class="breadcrumb">
  <li class="breadcrumb-item active">Home</li>
</ol>

<div class="row">
  <div class="col-md-2 panel panel-default">
    <h3>Typ / Baufeld</h3>
  </div>
  <div class="col-md-10">
    <div class="col-md-4 panel panel-default" ui-sref="detail({subnet: 'D12', minDate: home.dtFrom, maxDate: home.dtTo})"><h2>D12</h2>
    <span class="glyphicon glyphicon-th-large"></span> {{home.data.D12.floor | number}} m² <span class="glyphicon glyphicon-user"></span> {{home.data.D12.occupants | number}} <i class="glyphicon glyphicon-home"></i> {{home.data.D12.apartments | number}}
    </div>
    <div class="col-md-4 panel panel-default"  ui-sref="detail({subnet: 'D10'})"><h2>D10</h2>
      <span class="glyphicon glyphicon-th-large"></span> {{home.data.D10.floor | number}} m² <span class="glyphicon glyphicon-user"></span> {{home.data.D10.occupants | number}} <i class="glyphicon glyphicon-home"></i> {{home.data.D10.apartments | number}}
    </div>
    <div class="col-md-4 panel panel-default"  ui-sref="detail({subnet: 'D08'})"><h2>D08</h2>
      <span class="glyphicon glyphicon-th-large"></span> {{home.data.D08.floor}} m² <span class="glyphicon glyphicon-user"></span> {{home.data.D08.occupants}} <span class="glyphicon glyphicon-home"></span> {{home.data.D08.apartments}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 panel panel-default">
    <div class="row">
      <div class="col-md-5">
        <span class="fa fa-bolt fa-4x pull-right"></span>
      </div>
      <div class="col-md-5">
        Elektr. Energie
      </div>
      <div class="col-md-2 text-center">
        <div class="btn-group-vertical">
          <button type="button" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-th-large"></span></button>
          <button type="button" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-user"></button>
          <button type="button" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-home"></span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="col-md-4 panel panel-default" ui-sref="detail({subnet: 'D12'})">1234 kw/h</div>
    <div class="col-md-4 panel panel-default" ui-sref="detail({subnet: 'D10'})">3756 kw/h</div>
    <div class="col-md-4 panel panel-default" ui-sref="detail({subnet: 'D08'})">734 kw/h</div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 panel panel-default">
    <div class="row">
      <div class="col-md-5">
        <span class="fa fa-sun-o fa-4x"></span>
      </div>
      <div class="col-md-5">
        Heiz-Energie
      </div>
      <div class="col-md-2 text-center">
        <div class="btn-group-vertical">
          <button type="button" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-th-large"></span></button>
          <button type="button" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-user"></button>
          <button type="button" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-home"></span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="col-md-4 panel panel-default" ui-sref="detail({subnet: 'D12'})">2414 kw/h</div>
    <div class="col-md-4 panel panel-default" ui-sref="detail({subnet: 'D10'})">6856 kw/h</div>
    <div class="col-md-4 panel panel-default" ui-sref="detail({subnet: 'D08'})">944 kw/h</div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 panel panel-default">
    <div class="row">
      <div class="col-md-5">
        <span class="fa fa-tint fa-4x"></span>
      </div>
      <div class="col-md-5">
        Warm Wasser
      </div>
      <div class="col-md-2 text-center">
        <div class="btn-group-vertical">
          <button type="button" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-th-large"></span></button>
          <button type="button" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-user"></button>
          <button type="button" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-home"></span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="col-md-4 panel panel-default" ui-sref="detail({subnet: 'D12'})">28 m³</div>
    <div class="col-md-4 panel panel-default" ui-sref="detail({subnet: 'D10'})">66 m³</div>
    <div class="col-md-4 panel panel-default" ui-sref="detail({subnet: 'D08'})">11 m³</div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 panel panel-default">
    <div class="row">
      <div class="col-md-5">
        <span class="fa fa-tint fa-4x"></span>
      </div>
      <div class="col-md-5">
        Kalt Wasser
      </div>
      <div class="col-md-2 text-center">
        <div class="btn-group-vertical">
          <button type="button" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-th-large"></span></button>
          <button type="button" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-user"></button>
          <button type="button" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-home"></span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="col-md-4 panel panel-default" ui-sref="detail({subnet: 'D12'})">42 m³</div>
    <div class="col-md-4 panel panel-default" ui-sref="detail({subnet: 'D10'})">98 m³</div>
    <div class="col-md-4 panel panel-default" ui-sref="detail({subnet: 'D08'})">17 m³</div>
  </div>
</div>
