<ol class="breadcrumb">
  <li class="breadcrumb-item active">Home</li>
</ol>
<div class="row h-100 justify-content-center align-items-center">
  <div class="col-md-6">
    <p><small class="text-muted">{{ 'HOME_TO_AIRPORT' | translate }}</small></p>
    <a href="#" ui-sref="order({formType: 'to'})"><img class="img-fluid" ng-src="../../images/departure_m.png" alt="to_airport"></a>
  </div>
  <div class="col-md-6">
    <p><small class="text-muted">{{ 'HOME_FROM_AIRPORT' | translate }}</small></p>
    <a href="#" ui-sref="order({formType: 'from'})"><img class="img-fluid" ng-src="../../images/arrival_m.png" alt="from_airport"></a>
  </div>
</div>
