<div class="panel panel-success">
  <div class="panel-heading">
    Result
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <label>Investment:</label>
      </div>
      <div class="col-sm-6">
        {{result.results.tenants}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Heating:</label>
      </div>
      <div class="col-sm-6">
        {{result.results.floor}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Power:</label>
      </div>
      <div class="col-sm-6">
        {{result.results.solar}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Water:</label>
      </div>
      <div class="col-sm-6">
        {{result.results.water}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>PV:</label>
      </div>
      <div class="col-sm-6">
        {{result.results.pv}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Battery:</label>
      </div>
      <div class="col-sm-6">
        {{result.results.battery}}
      </div>
    </div>
  </div>
</div>
