<div class="panel panel-success">
  <div class="panel-heading">
    Result
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <label>Investment:</label>
      </div>
      <div class="col-sm-6">
        {{result.results.investment}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Heating:</label>
      </div>
      <div class="col-sm-6">
        {{result.results.heating}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Power:</label>
      </div>
      <div class="col-sm-6">
        {{result.results.power}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Random:</label>
      </div>
      <div class="col-sm-6">
        {{result.results.random}}
      </div>
    </div>
  </div>
</div>
